body {
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
    background-color: #f60;
}

.navbar, .subnavbar, .searchbar {
    background-color: #f60;
    color: #fff;
    -webkit-transition: background-color .2s linear;
}

.page-vehicule .navbar, .page-itineraire .navbar {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
}

.page-vehicule .page-content, .page-itineraire .page-content {
    padding-top: 0;
}

.page {
    background-color: #fafafa;
}

.b .navbar, .b .toolbar {
    color: #000;
}

.b i.icon.icon-back {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20width%3D'24'%20height%3D'24'%20viewBox%3D'0%200%2024%2024'%3E%3Cpath%20d%3D'M20%2011H7.83l5.59-5.59L12%204l-8%208%208%208%201.41-1.41L7.83%2013H20v-2z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E");
}

.b i.icon.icon-bars {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20width%3D'24'%20height%3D'24'%20viewBox%3D'0%200%2024%2024'%3E%3Cpath%20d%3D'M3%2018h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E")
}

.b .tabbar a.tab-link.active {
    color: #000;
}

.b .tabbar a.tab-link {
    color: rgba(0, 0, 0, .7);
}

.panel header {
    display: block;
    margin: 0 0 5px 0;
    padding: 30px 20px;
    background-color: #f60;
    background-image: url(../img/sidebar-background.png);
    background-position: center center;
    background-size: cover;
    box-shadow: 0 0 3px black;
}

.panel header img {
    width: 100%;
}

.panel .list-block {
    margin: 0;
}

.panel .list-block .item-inner {
    background: none;
}

.panel .list-block .item-inner:after,
.panel .list-block ul:before,
.panel .list-block ul:after {
    display: none;
}

.temps {
    float: right;
    font-weight: 100;
    font-size: 1.7em;
}

.quai {
    display: inline-block;
    line-height: 1em;
    text-align: center;
    font-weight: 400;
}

.quai::before {
    content: 'quai';
    font-style: italic;
    text-transform: uppercase;
    display: block;
    font-weight: 200;
}

.warning::before {
    content: '⚠️';
    font-size: 2em;
    line-height: 0;
}

.t,
.page-trajets .accordion-item li:first-child .t,
.page-trajets .accordion-item li:last-child .t {
    width: 50px;
    height: 50px;
    -webkit-mask: url(../img/thermometer.svg);
    -webkit-transition: -webkit-mask .3s;
}

li:first-child i.t {
    -webkit-mask: url(../img/thermometer_start.svg);
}

.page-trajets li:first-child .t {
    -webkit-mask: url(../img/trajet_start.svg);
}

li:last-child i.t {
    -webkit-mask: url(../img/thermometer_terminus.svg);
}

.page-trajets li:last-child .t {
    -webkit-mask: url(../img/trajet_end.svg);
}

.current i.t {
    -webkit-mask: url(../img/thermometer_current.svg);
}

.list-block .item-media {
    padding: 0;
}

.current .item-title {
    font-weight: 700;
}

#lignecarte {
    background-color: #0280a9;
    color: #fff;
}

.i-plans {
    width: 29px;
    height: 29px;
    background-image: url(../img/i-plans.png);
}

.i-infotraffic {
    width: 29px;
    height: 29px;
    background-image: url(../img/i-infotrafic.png);
}

.i-about {
    width: 29px;
    height: 29px;
    background-image: url(../img/i-about.png);
}

.i-itineraire {
    width: 29px;
    height: 29px;
    background-image: url(../img/i-itineraire.png);
}

.i-stops {
    width: 29px;
    height: 29px;
    background-image: url(../img/i-stops.png);
}

i.icon.icon-depart {
    width: 30px;
    height: 50px;
    background-image: url(../img/i-itineraire-depart.svg);
    background-size: auto 100%;
}

i.icon.icon-arrivee {
    width: 30px;
    height: 50px;
    background-image: url(../img/i-itineraire-arrivee.svg);
    background-size: auto 100%;
}

.icon-location {
    margin-left: 5px;
    width: 24px;
    height: 24px;
    background-image: url(../img/icon-location.png);
}

.icon-resume {
    -webkit-mask: url(../img/trajet_stops.svg);
}

.page-itineraire .icon-form-calendar {
    margin-left: 2px;
}

.page-itineraire .list-block.inputs-list .label-radio .item-inner {
    margin-left: 0;
    padding-top: 14px;
}

.page-itineraire .list-block {
    margin: 0;
}

.page-itineraire .list-block ul:before, .page-itineraire .item-inner:after {
    height: 0;
}

.accordion-item-expanded .icon-resume, .icon-resume.no-stops {
    -webkit-mask: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+Cjxzdmcgd2lkdGg9IjUwcHgiIGhlaWdodD0iNTBweCIgdmlld0JveD0iMCAwIDUwIDUwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPCEtLSBHZW5lcmF0b3I6IFNrZXRjaCAzOS4xICgzMTcyMCkgLSBodHRwOi8vd3d3LmJvaGVtaWFuY29kaW5nLmNvbS9za2V0Y2ggLS0+CiAgICA8dGl0bGU+dHJhamV0X3N0b3BzPC90aXRsZT4KICAgIDxkZXNjPkNyZWF0ZWQgd2l0aCBTa2V0Y2guPC9kZXNjPgogICAgPGRlZnM+PC9kZWZzPgogICAgPGcgaWQ9IlRoZXJtb23DqHRyZS0oQW5kcm9pZCkiIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPgogICAgICAgIDxnIGlkPSJ0cmFqZXRfc3RvcHMiIGZpbGw9IiMwMDAwMDAiPgogICAgICAgICAgICA8cmVjdCBpZD0iSWPDtG5lIiB4PSIyMiIgeT0iMCIgd2lkdGg9IjYiIGhlaWdodD0iNTAiPjwvcmVjdD4KICAgICAgICA8L2c+CiAgICA8L2c+Cjwvc3ZnPg==);
}

.previous, .page-trajets .accordion-item {
    background-color: #ddd;
}

.h {
    display: none;
}

.w {
    color: #fff;
}

.list-block .item-after {
    color: #000;
}

.list-block .w .item-after {
    color: #fff;
}

.list-block.media-list .item-link .item-title-row {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%2060%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%3Cpath%20d%3D'm60%2061.5-38.25%2038.25-9.75-9.75%2029.25-28.5-29.25-28.5%209.75-9.75z'%20fill%3D'%23000'%2F%3E%3C%2Fsvg%3E");
}

.list-block.media-list li.w .item-link .item-title-row {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%2060%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%3Cpath%20d%3D'm60%2061.5-38.25%2038.25-9.75-9.75%2029.25-28.5-29.25-28.5%209.75-9.75z'%20fill%3D'%23fff'%2F%3E%3C%2Fsvg%3E");
}

.list-block#departures {
    margin: 0;
}

.list-block#departures li::after {
    background-color: #000;
    height: 5px;
    opacity: .2;
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    right: auto;
    top: auto;
    width: 100%;
    display: block;
    z-index: 15;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
}

.navbar::after {
    height: 4px;
}

.list-block#departures .item-inner::after {
    height: 0;
}

span.perturbation::before {
    content: '⚠︎';
    font-size: 1.8em;
}

.graym {
    width: 100%;
    text-align: center;
}

.graym > span {
    margin-top: 30px;
}

.smileyErreur::before {
    content: ':-/';
    margin-top: 10px;
    font-size: 5em;
    display: block;
}

.smileyBien::before {
    content: ':-)';
    margin-top: 10px;
    font-size: 5em;
    display: block;
}

ul.parl span {
    position: relative;
    width: 20%;
    text-align: center;
    float: left;
    font-size: 1.5em;
}

ul.parl,ul.parl ul {
    overflow: hidden;
}

ul.parl ul {
    display: block;
    padding: 10px;
    background: rgba(255,255,255,0.4);
    color: #000;
}

.list-block ul ul {
    padding-left: 0;
}

.picto-ligne {
    margin: 2px;
    display: inline-block;
    padding: 3px 0;
    border-radius: 20px;
    min-width: 49px;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    float: left;
    margin-right: 10px;
    font-family: "Helvetica Neue",Helvetica,sans-serif;
}

.perturbation-header header {
    font-weight: 700;
}

.perturbation-header small {
    font-size: 15px;
}

.notifications .item-title {
    width: 100%;
}

.notifications .accordion-item-toggle {
    font-size: 20px;
    position: relative;
}

.notifications .accordion-item-toggle.active-state {
    background-color: rgba(255, 255, 255, .3);
}

.notifications .accordion-item-toggle .toggle-icon {
    width: 20px;
    height: 20px;
    margin-top: 5px;
    float: right;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%2060%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%3Cpath%20d%3D'm60%2061.5-38.25%2038.25-9.75-9.75%2029.25-28.5-29.25-28.5%209.75-9.75z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
    background-size: 10px 20px;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-transition: -webkit-transform .3s ease;
    transition: -webkit-transform .3s ease;
    transition: transform .3s ease;
    transition: transform .3s ease, -webkit-transform .3s ease;
}

.notifications .accordion-item-expanded .accordion-item-toggle .toggle-icon {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.notifications .accordion-item-content {
    margin-bottom: 5px;
}

.lineCode {
    display: inline-block;
    border: 1px solid #fff;
    line-height: 1;
    padding: 10px 15px;
    border-radius: 50px;
    min-width: 19px;
    text-align: center;
}

.b.lineCode {
    border-color: #000;
}

.nopmr {
    width: 30px;
    height: 30px;
    display: inline-block;
    background: url(../img/no-pmr.svg);
}

.departure-wifi {
    width: 30px;
    margin-top: 3px;
}

.w .departure-wifi {
    filter: invert();
}

/* About page */

.page-about header {
    position: relative;
    height: 300px;
    background-color: #f60;
    background-image: url(../img/about.jpg);
    background-size: cover;
    background-position: 50% 0;
}

.page-about header img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 250px;
}

.page-about .card.credit {
    min-height: 80px;
}

.page-about .card.credit img {
    float: left;
    margin-right: 16px;
    height: 80px;
    width: 80px;
}

.page-about .card.credit h3 {
    margin: 0;
    font-size: 17px;
    font-weight: 100;
    color: #212121;
}

.page-about .card.credit cite {
    font-style: normal;
}

.icon-facebook {
    width: 29px;
    height: 29px;
    background-image: url(../img/i-facebook.png);
}

.icon-twitter {
    width: 29px;
    height: 29px;
    background-image: url(../img/i-twitter.png);
}

.icon-medium {
    width: 29px;
    height: 29px;
    background-image: url(../img/i-medium.png);
}

.icon-github {
    width: 29px;
    height: 29px;
    background-image: url(../img/i-github.png);
}

.page-vehicule header {
    position: relative;
    height: 50vh;

    background-color: #000;
    background-size: cover;
    background-position: 50% 50%;
}

.page-vehicule h1 {
    position: absolute;
    bottom: 0;
    left: 12px;
    color: #fff;
    font-size: 20px;
    font-weight: 100;
}

.page-vehicule h1 strong,
.card-vehicule h2 strong {
    display: block;
}

.card-vehicule h2 strong {
    color: #1e1e1e;
}

.page-vehicule .infos {
    text-align: center;
}

.page-vehicule .infos .info {
    margin-top: 20px;
    color: #444;
    font-weight: 100;
}

.page-vehicule .infos p {
    font-size: 18px;
    font-weight: 500;
    margin: 5px;
}

.page-vehicule .links {
    color: #aaa;
    text-align: center;
}

.card-vehicule {
    min-height: 100px;
    color: #6a6a6a;
}

.card-vehicule h2 {
    padding: 15px;
    padding-top: 2px;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 2px;
    font-size: 15px;
    font-weight: 100;
}

.card-vehicule .vehicle-icon {
    width: 100px;
    float: right;
}

.card-vehicule .wifi-icon {
    position: absolute;
    top: 4px;
    right: 100px;
    opacity: .4;
}

.card-vehicule .id {
    display: block;
    padding-top: 2px;
    padding-left: 10px;
    color: rgba(0, 0, 0, .4);
}

.page-vehicule .card-wifi {
    display: block;
    color: inherit;
    overflow: auto;
    margin-top: 20px;
    background: #fff;
    padding: 10px;
}

.page-vehicule .card-wifi img {
    position: absolute;
    top: 20px;
    left: 10px;
    width: 50px;
    opacity: .4;
}

.page-vehicule .card-wifi p {
    padding-left: 65px;
    padding-right: 10px;
    line-height: 1.5;
    color: #333;
}

.page-vehicule .card-wifi span {
    color: #007aff;
}

.plan {
    display: block;
    max-width: 300px;
    margin: 20px auto;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.plan .plan-bg {
    position: relative;
    background-size: cover;
    padding-bottom: 65%;
}

.plan .plan-desc {
    position: absolute;
    bottom: 0;

    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 13px;

    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.plan .plan-desc h3 {
    margin: 0;
    font-size: 15px;
    font-weight: 400;
}

.tutorial {
    list-style-type: none;
    padding-left: 0;
    margin-top: 20px;
}

.tutorial .step-number {
    float: left;
    width: 30px;
    height: 30px;
    text-align: center;
    background: #f60;
    color: #fff;
    font-size: 16px;
    line-height: 2;
    font-weight: 200;
    border-radius: 50%;
}

.tutorial p {
    margin: 0;
    padding-left: 40px;
    padding-top: 4px;
    padding-bottom: 20px;
}

.tutorial .more {
    display: inline-block;
    margin: 0 5px;
    width: 25px;
    height: 25px;
    vertical-align: middle;
    background-image: url(../img/more.png);
    background-size: 100%;
}

.tutorial img {
    margin: 0 auto;
    display: block;
    max-width: 250px;
}

.page-itineraire header {
    background-image: url(../img/itineraire.jpg);
    height: 35vh;
    background-size: cover;
    background-position: 50% 77%;
}

@media (max-height: 565px) {
    .page-itineraire header {
        height: 150px;
    }
}

.page-itineraire .content-block-title {
    margin-top: 7px;
}

.page-itineraire button {
    width: 90%;
    margin: 20px auto;
}

.itineraire-dateheure .buttons-row {
    margin: 5px 14px;
}

.page-trajets .card-header {
    padding-left: 14px;
}

.page-trajets .destination {
    font-weight: 600;
    flex: 1;
}

.page-trajets .card-header i {
    font-style: normal;
    font-size: 1.5em;
}

.page-trajets .swiper-pagination {
    position: static;
    background: #fff;
    border-top: 1px solid #c8c7cc;
    padding: 10px 0;
}

.page-trajets .toolbar {
    height: auto;
}

.page-trajets header {
    background: #fff;
    color: #222;
    text-align: center;
    border-bottom: 1px solid #C1BFC5;
}

.page-trajets header h1 {
    font-weight: normal;
    font-size: 24px;
    margin: 10px;
}

.page-trajets header .date {
    font-weight: bold;
    color: #B71C1C;
    margin-bottom: 0;
}

.page-trajets header .resume {
    margin-bottom: 10px;
}

.page-trajets header .resume .picto-ligne {
    float: none;
    display: inline-block;
    margin: 2px;
}

.page-trajets header img {
    max-width: 100%;
    max-height: 50%;
    margin: 0 auto;
    display: block;
}

.page-trajets .card:last-child {
    margin-bottom: 50px;
}

.itineraire-erreur {
    text-align: center;
}

.itineraire-erreur img {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 300px;
    margin-top: 50px;
}

.icon-marche {
    width: 34px;
    height: 34px;
    margin-left: 10px;
    margin-right: 18px;
    background-image: url(../img/icon-marche.png);
}

.l1,.l14,.l22 {
    background: #639;
}

.l2 {
    background: #cc3;
}

.l3,.l18,.l23 {
    background: #c39;
}

.l4,.l9, .l00 {
    background: #c03;
}

.l5,.lNV,.departures li.l5plus::after {
    background: #09f;
}

.l6 {
    background: #09c;
}

.l7 {
    background: #093;
}

.l8,.l15 {
    background: #933;
}

.l10 {
    background: #063;
}

.l11 {
    background: #939;
}

.l12 {
    background: #f90;
}

.l19,.l28 {
    background: #fc0;
}

.l21 {
    background: #633;
}

.l25 {
    background: #805a28;
}

.l31,.l33,.l41,.l44,.l46,.l49,.l51,.l54,.l56 {
    background: #099;
}

.l32,.l35,.l36 {
    background: #666;
}

.l34,.l42,.l43,.l45,.l53,.l57 {
    background: #9cc;
}

.l47,.lNP {
    background: #00b0a4;
}

.l61,.lB,.lDN,.lM,.lO,.lT,.lD,.lF,.lG,.lK,.lY,.lZ,.departures li.lGplus::after{
    background: #ff9baa;
}

.lA,.lC,.lE,.lJ,.lL,.lV,.departures li.lVplus::after,.departures li.lCplus::after{
    background: #f60;
}

.lNA {
    background: #5a1e82;
}

.lNC {
    background: #5e3285;
}

.lND {
    background: #84471c;
}

.lNE,.lNO {
    background: #b82f89;
}

.lNJ {
    background: #d2db4a;
}

.lNK,.lNM {
    background: #f5a300;
}

.lNS {
    background: #008cbe;
}

.lNT {
    background: #00ace7;
}

.lS,.lP,.lW,.lX,.lU {
    background: #039;
}

.lTO {
    background: #e2001d;
}

.lTT {
    background: #fd0000;
}

.l5plus, .lCplus, .lGplus, .lVplus, .lplus {
    background: #000;
}

.departures li.l5plus::after,
.departures li.lCplus::after,
.departures li.lVplus::after,
.departures li.lGplus::after {
  opacity: 0.7;
}

/*
 * Framework7 themes
 */

/* .layout-dark */
.page.layout-dark {
    background-color: #222426;
    color: #ddd;
}
